*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

.deco{
  text-decoration: none;
  outline:none
}
.footer-main-div{
  width:100%;
  height:auto;
  margin:auto;
  background:#272727;
  padding:25px 0px;
}

.footer-social-icons{
  width:100%;
  height:auto;
  margin: auto;
}

.footer-social-icons .ul{
  margin: 0px;
  padding:0px;
  text-align: center;
}

.footer-social-icons .ul .li{
  display:inline-block;
  width:50px;
  height:50px;
  margin:0px 10px;
  border-radius:100%;
  background:#32CD32;
}

.footer-social-icons .ul .li .a{
color:#272727;
font-size:25px;
display:block;
}

.footer-social-icons .ul .li .a .i{
line-height:50px;
}

.footer-social-icons .ul .li:hover{
background:#f00;
}


.footer-menu-one{
  width:100%;
  height:auto;
  margin:auto;
  margin-top:25px;
}

.footer-menu-one .ul{
  margin:0px;
  padding:0px;
  text-align:center;
}

.footer-menu-one .ul .li{
display:inline-block;
margin:0px 15px;
}

.footer-menu-one .ul .li .a{
font-family:arial;
font-size:15px;
font-weight:600;
color:#fff;
letter-spacing:1px;
text-transform:uppercase;
}

.footer-menu-one .ul .li .a:hover{
  color:#32CD32;
}

.footer-bottom{
    width:100%;
    height:auto;
    margin:auto;
    background:#32CD32;
    padding:10px;
}

.footer-bottom .bottom{
  font-family:arial;
  font-size:14px;
  text-align:center;
  color:#fff;
  font-weight:600;
  letter-spacing:1px;
}

.footer-bottom .bottom .a{
  color:#fff;
}

.footer-bottom .bottom .a:hover{
  color:#272727;
}
